html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/fondo/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}


header {
    background-color: #006400;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

.navbar {
    background-color: #CCCCCC;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    outline: none;
}

.dropdown-item:visited {
    color: inherit;
    background-color: #CCCCCC;
}

section {
    padding: 20px;
}

footer {
    
    background-color: #8B4513;
    color: #fff;
    padding: 20px;
    text-align: center;
    position:relative;
    bottom: 0;
    width: 100%;
    height: 5%;
    
}

.dropdown-menu,
.dropdown-item {
    background-color: #CCCCCC;
    
}


.container {
    background-color: rgba(204, 204, 204, 0.6);
    
}
.carousel-inner{
    height: 80%;
    width: 80%;
    margin: auto;
}
@media (max-height: 200px) {
    .img-inicio {
      width: 100px; /* Ancho deseado */
      height: 198px; /* Altura deseada */
    }
}

/* Construccion */

.construction {

    text-align: center;
    justify-content: center;
    background-color: #CCCCCC;
    width: 100%;
    height: 600px;
}

.construction h1 {
    padding-top: 18%;
    margin-top: auto;
    font-size: 36px;
    color: #333;
    
}

.construction p {
    font-size: 18px;
    color: #777;
}
@media (max-width: 768px) {
    .construction {
      height: 300px; /* Ajusta la altura para pantallas más pequeñas */
    }
}
/* Fin Construccion */